@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto Slab', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    transition: 0.05s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
    background-color: rgb(0, 0, 0);

    height: 100%;
}
body {
    background-color: rgb(46, 49, 56);
    margin: 0%;
    padding: 0%;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.options {
    /* background-color: aliceblue; */

    display: flex;
    flex-direction: column;
    gap: 0.75em;

    width: 10em;
}

.options * {
    width: 100%;
}

.options ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.resContainer {
    /* background-color: aliceblue; */

    display: flex;
    align-items: center;
    gap: 0.4em;
}

label {
    color: white;
}

.slider {
    display: flex;
    flex-direction: column;
}

#resNum {
    margin: 0%;
    padding: 0%;

    height: 2em;
    width: 2em;

    border-radius: 0.5em;
    border: none;

    text-align: center;

    font-size: inherit;
}

#container {
    background-color: antiquewhite;

    height: 50vh;
    width: 50vh;

    display: flex;
    flex-direction: column;
}

.pixelRow {
    background-color: aquamarine;

    margin: 0%;
    padding: 0%;

    flex: auto;

    display: flex;
}

.pixel {
    /* background-color: white; */
    /* border: 0.1em solid black; */
    height: 100%;
    width: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button, .colorPicker, .colorWrapper {
    height: 4vh;
    border-radius: 0.5em;
    border: none;
    padding: 1em 0em;
}

.colorPicker {
    margin: 0%;
    padding: 0%;

    opacity: 0;
    width: 1em;

    flex: auto;
}

.colorWrapper {
    display: flex;
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 2em;
    border: none;
}

button {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

.btnON {
    background-color: rgb(217, 219, 69);
    color: rgb(2, 38, 71);
}
.btnOFF {
    background-color: rgb(0, 145, 230);
    color: rgb(5, 5, 3);
}

.bottomBtns {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.clear {
    background-color: rgb(160, 18, 18);
    color: white;
}
.clear:active {
    background-color: aqua;
    color: red;
}

.shadeMode:hover, .colorWrapper:hover, .bottomBtns *:hover {
    /* font-size: 1em; */
    scale: 1.05;
}