@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
    background-color: rgb(0, 0, 0);

    height: 100%;
}
body {
    background-color: rgb(46, 49, 56);
    margin: 0%;
    padding: 0%;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.options {
    /* background-color: aliceblue; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.options ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.resContainer {
    background-color: aliceblue;

    display: flex;
    align-items: center;
    gap: 0.3em;
}

.slider {
    display: flex;
    flex-direction: column;
}

#resNum {
    margin: 0%;
    padding: 0%;

    height: 2em;
    width: 2em;

    text-align: center;

    font-size: inherit;
}

#container {
    /* background-color: antiquewhite; */

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pixelRow {
    background-color: aquamarine;

    margin: 0%;
    padding: 0%;

    /* flex: auto; */

    display: flex;
}

.pixel {
    background-color: white;
    border: 0.1em solid black;
    height: 1em;
    width: 1em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}